[user]
	email = purocean@gmail.com
	name = Yang
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
    hide = update-index --assume-unchanged
    unhide = update-index --no-assume-unchanged
